html {
  font-family:arial,sans-serif;
  overflow-x: hidden;
}

h1 {
  font-weight: bold;
}

h2, h3, h4, h5 {
  color: #505050;
}

button {
  margin: 10px 10px;
  width: 200px;
  height: 60px;
}

.statustext {
  font-weight: bold;
  font-size: 200%;
  color: #FF0000;
}

.fieldset-header {
    border: 1px solid #A9D2F5;
    padding: 10px;
}

.fieldset-header > legend {
    width: auto;
    border-bottom: 0px;
    padding: 0px 5px;
    margin-bottom: -5px;
}

.fieldset-header > p {
    margin: 10px 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.fieldset-header > span {
    margin: 10px 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.yellow-box {
    background-color: #ffffb4;
    border: 1px solid black;
    margin-top: 1ex;
    margin-bottom: 1ex;
}

.green-box {
    background-color: #c4ffb4;
    min-height: 30px;
    text-align: center;
    padding: 3px;
}

.blue-box {
    background-color: #65dae8;
    min-height: 30px;
    text-align: center;
    padding: 3px;
}
